html {
	font-family: sans-serif;
	font-size: 50px;
}

* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.header {
	background-color: red;
	padding-bottom: 30px;
	padding-top: 30px;
}

.header:nth-child(1) {
	grid-column: 1 / 12 span;
}

.aside {
	background-color: yellow;
	padding-bottom: 30px;
	padding-top: 30px;
}

.aside:nth-child(2) {
	grid-column: 1 / 2 span;
}

.main {
	background-color: green;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main:nth-child(3) {
	grid-column: 3 / 12 span;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.grid-container {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.article {
	min-height: 390px;
	max-width: 330px;
	background-color: orange;
}

.footer {
	background-color: blue;
	padding-bottom: 40px;
	padding-top: 40px;
}

.footer:nth-child(4) {
	grid-column: 1 / 12 span;
}

@media (width <= 1200px) {
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (width <= 768px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
	.wrapper {
		grid-template-columns: repeat(10, 1fr);
	}
	.footer:nth-child(4) {
		grid-column: 1 / 10 span;
	}
	.header:nth-child(1) {
		grid-column: 1 / 10 span;
	}
	.aside {
		display: none;
	}
	.main:nth-child(3) {
		grid-column: 1 / 10 span;
	}
}

@media (width <= 576px) {
	.grid-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.wrapper {
		grid-template-columns: repeat(10, 1fr);
	}
	.footer:nth-child(4) {
		grid-column: 1 / 10 span;
	}
	.header:nth-child(1) {
		grid-column: 1 / 10 span;
	}
	.aside {
		display: none;
	}
	.main:nth-child(3) {
		grid-column: 1 / 10 span;
	}
}
