html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

header {
	max-width: 1280px;
	padding: 15px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 4px solid #a0a0a0;
	flex-wrap: wrap;
}

.logo {
	background: #000;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

a {
	color: #000;
}

div {
	padding: 15px;
}

.nav {
	padding: 0px 10px;
}

.tel {
	text-decoration: none;
	padding: 15px 0;
}
